<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>

<div class="container" >
    <div class="first">
      <app-recipe-list (selectedRecipeChanged)="recipeChanged($event)"></app-recipe-list>
    </div>

    <div class="second">
      <app-show-recipe *ngIf="showTheRecipe==true" [(recipe)]="selectedRecipe" (editRecipe)="showEditComponent($event)"></app-show-recipe>
      <app-edit-recipe *ngIf="showTheRecipe==false" [(currentRecipe)]="selectedRecipe" (showRecipe)="showMyRecipe($event)"></app-edit-recipe>      
    </div>
</div>

<router-outlet></router-outlet>
