.matCard{
    width: 30vw;
}

.matCardHeader{
    font-size: x-large;

}

.group{
    width: 30vw;
    display:inline-block;
}

.a{
    float:left;
}

.b{
    float:right;
}

#description{
    margin-top: 10px;
}


.buttonDiv{
    width: 32px;
    align-content: stretch;
    text-align: center;
    margin-top: 16px;
}

#matDividerDescription{
    margin-top: 10px;
}