
<div *ngIf="currentRecipe">
    <mat-form-field>
        <mat-label>Name: </mat-label>
        <input matInput [(ngModel)]="currentRecipe.name" >
    </mat-form-field>
</div>

<div *ngIf="currentRecipe">
    <mat-form-field>
        <mat-label>Description: </mat-label>
        <textarea matInput [(ngModel)]="currentRecipe.description" > </textarea>
    </mat-form-field>
</div>


<div class="editRecipe">
    <div *ngIf="currentRecipe">
        <div *ngFor="let recipeIngredient of currentRecipe.ingredients" class="editContaier">
            
            <mat-form-field value="recipeIngredient">
                <mat-select *ngIf="ingredients" [(value)]="recipeIngredient.ingredientId">
                    <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient.id">
                        {{ingredient.name}}  </mat-option>
                </mat-select>
            </mat-form-field>     
            <mat-form-field> 
                <mat-label>Quantity: </mat-label>
                <input matInput [(ngModel)]="recipeIngredient.quantity">
            </mat-form-field>
                <div class="buttonDiv" (click)="removeIngredient(recipeIngredient.ingredient)"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>



    <mat-divider></mat-divider>
    <br>
    <div class="addContainer">
        <mat-form-field >
            <mat-select *ngIf="ingredients" [(value)]="currentIngredient.ingredient">
                <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient"> {{ingredient.name}}  </mat-option>
            </mat-select>
        </mat-form-field> 
        <mat-form-field>
            <mat-label>Quantity: </mat-label>
            <input matInput [(ngModel)]="currentIngredient.quantity" >
        </mat-form-field>
            <div class="buttonDiv" (click)="addIngredient()"><i class="fa fa-plus" aria-hidden="true"></i></div>
    </div>
</div>