#matCardWrapper{
    width: 450px;
}

#descriptionInput{
    width: 400px;
}

.buttonDiv2{
    align-content: flex-start;
    width: 32px;
}
.buttonDiv:hover{
    cursor: pointer;
}
.addContainer{
    display: inline-block;
   
    display: flex;
    justify-content: flex-start;
}
.editContaier{
    display: flex;
    justify-content: flex-start;
}
.editRecipe{
    width: 450px;
    height: auto;
    width: 40px;
}

#descriptionTextArea{
    width: 30vw;
    height: 8vw;
}

#nameText{
    width: 30vw;
}

.wrapperDiv{
    display:flex;
}

#closeEdit{
    align-content: center;
    margin-right: 16px;
}

#closeSave{
    align-content: center;
    margin-right: 16px;
}

#buttonUpdate{
    margin-right: 10px;
    width: 100px;
    text-align: left;
}

#matDivider{
    width: 482px;
    background-color: purple;
}

#wrapperEditRecipe{
    border: 2px;
}