.buttonDiv{
    align-content: flex-start;
    width: 16px;
}
.buttonDiv:hover{
    cursor: pointer;
}
.addContainer{
    display: inline-block;
   
    display: flex;
    justify-content: flex-start;
}
.editContaier{
    display: flex;
    justify-content: flex-start;
}
.editRecipe{
    width: 450px;
    height: auto;
    width: 40px;
}

#descriptionTextArea{
    width: 30vw;
    height: 8vw;
}

#nameText{
    width: 30vw;
}

.wrapperDiv{
    display:flex;
}

#closeEdit{
    align-content: center;
    margin-right: 16px;
}

#update{
    margin-right: 10px;
    width: 32px;
    text-align: left;
}
.buttonUpdate{
    margin-left: 128vw;
    cursor: pointer;
}

#matDivider{
    width: 400px;
    background-color: purple;
}