.buttonDiv{
    margin-left: 30px;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.buttonDiv:hover{
    cursor: pointer;
}
.addContainer{
    display: inline-block;
   
    display: flex;
    justify-content: flex-start;
}
.editContaier{
    display: flex;
    justify-content: flex-start;
}
.editRecipe{
    width: 450px;
    height: auto;
    width: 40px;
}

#descriptionTextArea{
    width: 30vw;
    height: 8vw;
}

#nameText{
    width: 30vw;
}

.wrapperDiv{
    display:flex;
}

.buttonUpdate{
    margin-left: 8vw;
    cursor: pointer;
}